{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <style type="text/tailwindcss">
            
        </style>
        <title>
        {% block title %} Tirian Trains {% endblock %}
        </title>

    </head>

    <body class="bg-[#EFECE3] min-h-screen flex flex-col">
        <nav class="bg-[#5071A8] sticky top-0 z-50">
            <div class="flex h-16 items-center justify-between px-4">
                <div class="flex items-center">
                    <a href="{%url 'homepage' %}" class="px-3 py-2 text-base font-bold italic text-white hover:text-gray-200">TirianTrains</a>
                </div>
                <div class="flex space-x-4">
                    <a href="{% url 'homepage' %}" class="px-3 py-2 text-sm text-white hover:text-gray-200">Home</a>
                    <a href="{% url 'booking_page' %}" class="px-3 py-2 text-sm text-white hover:text-gray-200">Book Now!</a>
                    <a href="{% url 'station_list' %}" class="px-3 py-2 text-sm text-white hover:text-gray-200">Routes</a>
                    <a href="{% url 'schedule_list' %}" class="px-3 py-2 text-sm text-white hover:text-gray-200">Schedule</a>
                    <a href="{% url 'tirian_admin' %}" class="px-3 py-2 text-sm text-white hover:text-gray-200">Admin</a>
                    {% if request.session.customer_id %}
                        <a href="{% url 'logout' %}" class="px-3 py-2 text-sm text-white hover:text-gray-200">Logout</a>
                    {% else %}
                        <a href="{% url 'login' %}" class="px-3 py-2 text-sm text-white hover:text-gray-200">Login</a>
                    {% endif %}
                </div>
            </div>
        </nav>

        <main class="flex-grow">
            {% block content %}
            Add Content Here
            {% endblock %}
        </main>

        <footer class="bg-[#5071A8] text-white text-center p-4">
            CSCI 41 Group 21 - Sure
        </footer>
    </body>

</html>