<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style type="text/tailwindcss">
        
    </style>
    <title>TirianTrains</title>
</head>

<body class="bg-stone-100">
    <nav class="bg-[#5071A8] sticky top-0 z-50">
    <div class="flex h-16 items-center justify-between px-4">
        <div class="flex items-center">
        <a href="#" class="px-3 py-2 text-base font-bold italic text-white hover:text-gray-200">TirianTrains</a>
        </div>
        <div class="flex space-x-4">
        <a href="#" class="px-3 py-2 text-sm text-gray-300 hover:text-white">Book Now!</a>
        <a href="#" class="px-3 py-2 text-sm text-gray-300 hover:text-white">Routes</a>
        <a href="#" class="px-3 py-2 text-sm text-gray-300 hover:text-white">Schedule</a>
        <a href="#" class="px-3 py-2 text-sm text-gray-300 hover:text-white">Admin</a>
        </div>
    </div>
    </nav>

    <div class="bg-[#5A698E] flex h-28 items-center justify-center px-4 m-2">
        <h1 class="text-2xl text-white font-semibold text-center">Booking</h1>
    </div>

    <div class="bg-[#000272] flex h-28 items-center justify-center px-1 m-6">
        <h2 class="text-2xl text-white font-semibold text-center">Local Trips</h2>
    </div>

    <div class="p-4">
        <table class="w-full border-collapse border-gray-200 border-2">
            <thead>
                <tr class="bg-[#5A698E] text-white text-sm">
                    <th class="px-4 py-2 text-left">Date</th>
                    <th class="px-4 py-2 text-left">Origin</th>
                    <th class="px-4 py-2 text-left">Destination</th>
                    <th class="px-4 py-2 text-left">Departure</th>
                    <th class="px-4 py-2 text-left">Arrival</th>
                    <th class="px-4 py-2 text-left">Cost</th>
                    <th class="px-4 py-2 text-left">Trips</th>
                </tr>
            </thead>

            <tbody class="text-sm">
                <tr class="border-b-2 border-gray-200">
                    <td class="px-4 py-3">Test</td>
                    <td class="px-4 py-3">Test</td>
                    <td class="px-4 py-3">Test</td>
                    <td class="px-4 py-3">Test</td>
                    <td class="px-4 py-3">Test</td>
                    <td class="px-4 py-3">Test</td>
                    <td class="px-4 py-3">
                        <button class="bg-blue-500 text-white rounded-lg px-4 py-2 hover:bg-blue-600">
                            Select
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="bg-[#000272] flex h-28 items-center justify-center px-1 m-6">
        <h2 class="text-2xl text-white font-semibold text-center">Inter-Town Trips</h2>
    </div>

    <div class="p-4">
        <table class="w-full border-collapse border-gray-200 border-2">
            <thead>
                <tr class="bg-[#5A698E] text-white text-sm">
                    <th class="px-4 py-2 text-left">Date</th>
                    <th class="px-4 py-2 text-left">Origin</th>
                    <th class="px-4 py-2 text-left">Destination</th>
                    <th class="px-4 py-2 text-left">Departure</th>
                    <th class="px-4 py-2 text-left">Arrival</th>
                    <th class="px-4 py-2 text-left">Cost</th>
                    <th class="px-4 py-2 text-left">Trips</th>
                </tr>
            </thead>

            <tbody class="text-sm">
                <tr class="border-b-2 border-gray-200">
                    <td class="px-4 py-3">Test</td>
                    <td class="px-4 py-3">Test</td>
                    <td class="px-4 py-3">Test</td>
                    <td class="px-4 py-3">Test</td>
                    <td class="px-4 py-3">Test</td>
                    <td class="px-4 py-3">Test</td>
                    <td class="px-4 py-3">
                        <button class="bg-blue-500 text-white rounded-lg px-4 py-2 hover:bg-blue-600">
                            Select
                        </button>
                    </td>
                </tr>
                <tr class="border-b-2 border-gray-200">
                    <td class="px-4 py-3">Test</td>
                    <td class="px-4 py-3">Test</td>
                    <td class="px-4 py-3">Test</td>
                    <td class="px-4 py-3">Test</td>
                    <td class="px-4 py-3">Test</td>
                    <td class="px-4 py-3">Test</td>
                    <td class="px-4 py-3">
                        <button class="bg-blue-500 text-white rounded-lg px-4 py-2 hover:bg-blue-600">
                            Select
                        </button>
                    </td>
                </tr>
                <tr class="border-b-2 border-gray-200">
                    <td class="px-4 py-3">Test</td>
                    <td class="px-4 py-3">Test</td>
                    <td class="px-4 py-3">Test</td>
                    <td class="px-4 py-3">Test</td>
                    <td class="px-4 py-3">Test</td>
                    <td class="px-4 py-3">Test</td>
                    <td class="px-4 py-3">
                        <button class="bg-blue-500 text-white rounded-lg px-4 py-2 hover:bg-blue-600">
                            Select
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="bg-[#5071A8] flex h-16">
    </div>
</body>

</html>