{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style type="text/tailwindcss">
        
    </style>
    <title>
    {% block title %} Tirian Trains {% endblock %}
    </title>

</head>

<body class="bg-stone-100">
    <nav class="bg-[#5071A8] sticky top-0 z-50">
    <div class="flex h-16 items-center justify-between px-4">
        <div class="flex items-center">
        <a href="#" class="px-3 py-2 text-base font-bold italic text-white hover:text-gray-200">TirianTrains</a>
        </div>
        <div class="flex space-x-4">
        <a href="{% url 'booking_page' %}" class="px-3 py-2 text-sm text-gray-300 hover:text-white">Book Now!</a>
        <a href="{% url 'train_list' %}" class="px-3 py-2 text-sm text-gray-300 hover:text-white">Trains</a>
        <a href="{% url 'station_list' %}" class="px-3 py-2 text-sm text-gray-300 hover:text-white">Routes</a>
        <a href="{% url 'schedule_list' %}" class="px-3 py-2 text-sm text-gray-300 hover:text-white">Schedule</a>
        <a href="#" class="px-3 py-2 text-sm text-gray-300 hover:text-white">Admin</a>
        </div>
    </div>
    </nav>
    {% block content %}
    Add Content Here
    {% endblock %}
</body>

</html>