{% extends 'base.html' %}

{% block title %}
Price Change
{% endblock %}

{% block content %}
<div class="bg-[#5A698E] flex h-28 items-center justify-center px-4 m-2">
      <h1 class="text-3xl text-white font-bold text-center">Change Route Price</h1>
</div>
<div class="max-w-md mx-auto mt-6 bg-white shadow-md p-6 rounded-lg">
    <form method="POST">
        {% csrf_token %}

        <div class="mb-4">
            <label for="price" class="block font-semibold mb-2">
                New Price
            </label>
            <input 
                type="number" 
                name="price" 
                id="price"
                class="w-full border border-gray-300 px-3 py-2 rounded-md"
                required
                min="0"
            >
        </div>

        <button
            type="submit"
            class="bg-blue-600 hover:bg-blue-700 text-white font-semibold px-4 py-2 rounded-lg"
        >
            Save New Price
        </button>
    </form>
</div>
{% endblock %}