{% extends 'base.html' %}

{% block title %}
Ticket Information
{% endblock %}

{% block content %}
<div class="bg-[#5A698E] flex h-28 items-center justify-center px-4 m-2">
        <h1 class="text-2xl text-white font-semibold text-center"> Ticket #{{ticketNum}} </h1>
</div>
<div class="max-w-7xl mx-auto p-6 space-y-8">
    <div>
        <!-- Customer + ticket info -->
        <div>
            <h2 class="bg-[#000272] text-white font-semibold text-center py-4 text-xl">
            Ticket Details
            </h2>
        </div>

        <ul class=" bg-white divide-y divide-[#EFECE3]">
            <li class="divide-x divide-[#EFECE3] grid grid-cols-2 items-center px-4 py-3 text-center">
                <span>Customer ID: {{ customer.customerID }}</span>
                <span>Ticket Date: {{ ticket.0.date|date:"F d, Y" }}</span>
            </li>
            <li class="divide-x divide-[#EFECE3] grid grid-cols-3 items-center px-4 py-3 text-center">
                <span>Last Name: {{ customer.lastName }}</span>
                <span>Given Name: {{ customer.givenName }}</span>
                <span>Middle Initial: {{ customer.middleInitial }}</span>
            </li>
            <li class="divide-x divide-[#EFECE3] grid grid-cols-3 items-center px-4 py-3 text-center">
                <span>Birthdate: {{ customer.birthDate|date:"F d, Y" }}</span>
                <span>Gender: {{ customer.gender }}</span>
                <span>Total Cost: {{ ticket.0.total }}</span>
            </li>
        </ul>
    </div>

    <div>
        <h2 class="bg-[#000272] text-white font-semibold text-center py-4 text-xl">
            Travel History
        </h2>
        <div class="divide-x divide-[#EFECE3] grid grid-cols-7 bg-[#5A698E] text-white font-semibold text-center py-2 px-4 text-sm">
            <div>Train Number</div>
            <div>Origin</div>
            <div>Destination</div>
            <div>Departure Time</div>
            <div>Arrival Time</div>
            <div>Duration (mins)</div>
            <div>Cost</div>
        </div>
        <ul class=" bg-white divide-y divide-[#EFECE3]">
        {% for t in ticket %}
            <li class="divide-x divide-[#EFECE3] grid grid-cols-7 items-center px-4 py-3 text-center">
                <span>{{ t.train_number }}</span>
                <span>{{ t.origin }} </span>
                <span>{{ t.destination }} </span>
                <span>{{ t.departure }} </span>
                <span>{{ t.arrival }}</span>
                <span>{{ t.duration }}</span>
                <span>{{ t.cost }}</span>
            </li>
        {% endfor %}
        </ul>
    </div>

    <div>
        <a href="{% url 'tirian_admin' %}" class="bg-blue-500 text-white rounded-lg px-4 py-2 hover:bg-blue-600">Back</a>
    </div>
</div>
{% endblock %}