{% extends 'base.html' %}


{% block title %}
Sales Report for {{ date }}
{% endblock %}

{% block content %}
    {% if tickets %}
        <table>
            <tr>
                <th>Ticket ID</th>
                <th>Customer Name</th>
                <th>Total Cost</th>
                <th>Details</th> <!-- I can remove this if not yet implemented -->
            </tr>
            {% for t in tickets %}
                <tr>
                    <td>{{ t.ticketID }}</td>
                    <td>{{ t.Customer }}</td>
                    <td>{{ t.totalCost }}</td>
                    <a href="{% url 'ticket_trips' t.ticketID %}">
                        View
                    </a>

                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No tickets sold on this date.</p>
    {% endif %}
{% endblock %}