{% extends 'base.html' %}

{% block title %}
Add New Station
{% endblock %}

{% block content %}
<div class="bg-[#5A698E] flex h-28 items-center justify-center px-4 m-2">
    <h1 class="text-3xl text-white font-bold text-center">New Station Registration</h1>
</div>
<div class=" scale-100 max-w-7xl mx-auto p-6 space-y-8">
    <div class="w-full p-2 mb-4 border bg-gray-200 rounded text-center justify-center">   
    <form method="POST">
        {% csrf_token %}
        
        <div class = "pb-2">
            <label for="stationName" class="mb-2 font-medium">Station Name</label>
            <input type="text" id="stationName" name="stationName" class="w-sm p-2 mb-4s bg-gray-300" required>

            <label for="isLocalStation" class="mb-2 font-medium">Station Type</label>
            <select id="isLocalStation" name="isLocalStation" class="w-sm p-2 mb-4s bg-gray-300" required>
                <option value="">Select</option>
                <option value="1">Local</option>
                <option value="0">Intertown</option>
            </select>
        </div>
        
        <button type="submit" class="bg-blue-500 text-white rounded-lg px-4 py-2 hover:bg-blue-600">Create Station</button>
    </form>
    </div>
</div>
{% endblock %}