{% extends 'base.html' %}

{% block title %}
Booking
{% endblock %}

{% block content %}
<!-- This is just dummy content I will use for testing, will update with the actual template later -->
<!-- sorry for editing this also idk what to feel about the vertical lines -->
 
    <div class="bg-[#5A698E] flex h-28 items-center justify-center px-4 m-2">
        <h1 class="text-3xl text-white font-bold text-center">Booking</h1>
    </div>

    <div class="max-w-7xl mx-auto p-6 space-y-8">
      <!-- Local -->
      <div>
        <h2 class="bg-[#000272] text-white font-semibold text-center py-4 text-xl">
          Local Trips
        </h2>

      <!-- header -->
        <div class="divide-x divide-[#EFECE3] grid grid-cols-7 bg-[#5A698E] text-white font-semibold text-center py-2 px-4 text-sm">
          <div>Date</div>
          <div>Origin</div>
          <div>Destination</div>
          <div>Departure</div>
          <div>Arrival</div>
          <div>Cost</div>
          <div>Trips</div>
        </div>

        <!-- body -->
        <ul class=" bg-white divide-y divide-[#EFECE3]">
            {% for l in local %}
                <li class="divide-x divide-[#EFECE3] grid grid-cols-7 items-center px-4 py-3 text-center">
                    <span>{{l.tripDate}}</span>
                    <span>{{l.originStation}}</span>
                    <span>{{l.destinationStation}}</span>
                    <span>{{l.departureTime}}</span>
                    <span>{{l.arrivalTime}}</span>
                    <span>{{l.baseCost}}</span>
                    <a href="{% url 'booking_add' l.tripScheduleID %}" class="bg-blue-500 text-white rounded-lg px-4 py-2 hover:bg-blue-600">
                      {% if l.tripScheduleID in selected_trips %}
                        Remove
                      {% else %}
                        Add
                      {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
      </div>

      <!-- inter town -->
      <div>
        <h2 class="bg-[#000272] text-white font-semibold text-center py-4 text-xl">
          Inter-Town Trips
        </h2>

      <!-- header -->
        <div class="divide-x divide-[#EFECE3] grid grid-cols-7 bg-[#5A698E] text-white font-semibold text-center py-2 px-4 text-sm">
          <div>Date</div>
          <div>Origin</div>
          <div>Destination</div>
          <div>Departure</div>
          <div>Arrival</div>
          <div>Cost</div>
          <div>Trips</div>
        </div>

        <!-- body -->
        <ul class=" bg-white divide-y divide-[#EFECE3]">
            {% for i in intertown %}
                <li class="divide-x divide-[#EFECE3] grid grid-cols-7 items-center px-4 py-3 text-center">
                    <span>{{i.tripDate}}</span>
                    <span>{{i.originStation}}</span>
                    <span>{{i.destinationStation}}</span>
                    <span>{{i.departureTime}}</span>
                    <span>{{i.arrivalTime}}</span>
                    <span>{{i.baseCost}}</span>
                    <a href="{% url 'booking_add' i.tripScheduleID %}" class="bg-blue-500 text-white rounded-lg px-4 py-2 hover:bg-blue-600">
                      {% if i.tripScheduleID in selected_trips %}
                        Remove
                      {% else %}
                        Select
                      {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
      </div>
    </div>
{% endblock %}