{% extends 'base.html' %}

{% block title %}
Booking
{% endblock %}

{% block content %}
<!-- This is just dummy content I will use for testing, will update with the actual template later -->
<!-- sorry for editing this -->
 
    <div class="bg-[#5A698E] flex h-28 items-center justify-center px-4 m-2">
        <h1 class="text-3xl text-white font-bold text-center">Booking</h1>
    </div>

    <div class="max-w-7xl mx-auto p-6 space-y-8">
      <!-- Local -->
      <div>
        <h2 class="bg-[#000272] text-white font-semibold text-center py-4 text-xl">
          Local Trips
        </h2>

      <!-- header -->
        <div class="grid grid-cols-7 bg-[#5A698E] text-white font-semibold text-center py-2 px-4 text-sm">
          <div>Date</div>
          <div>Origin</div>
          <div>Destination</div>
          <div>Departure</div>
          <div>Arrival</div>
          <div>Cost</div>
          <div>Trips</div>
        </div>

        <!-- body -->
        <ul class=" bg-white divide-y divide-[#EFECE3]">
          <li class="grid grid-cols-7 items-center px-4 py-3 text-center">
              <ul> test </ul>
              <ul> test </ul>
              <ul> test </ul>
              <ul> test </ul>
              <ul> test </ul>
              <ul> test </ul>
              <a 
                  class="bg-blue-500 text-white rounded-lg px-4 py-2 hover:bg-blue-600"
              >
                  View
              </a>
          </li>
          <li class="grid grid-cols-7 items-center px-4 py-3 text-center">
              <ul> test </ul>
              <ul> test </ul>
              <ul> test </ul>
              <ul> test </ul>
              <ul> test </ul>
              <ul> test </ul>
              <a 
                  class="bg-blue-500 text-white rounded-lg px-4 py-2 hover:bg-blue-600"
              >
                  View
              </a>
          </li>
        </ul>
      </div>

      <!-- inter town -->
      <div>
        <h2 class="bg-[#000272] text-white font-semibold text-center py-4 text-xl">
          Inter-Town Trips
        </h2>

      <!-- header -->
        <div class="grid grid-cols-7 bg-[#5A698E] text-white font-semibold text-center py-2 px-4 text-sm">
          <div>Date</div>
          <div>Origin</div>
          <div>Destination</div>
          <div>Departure</div>
          <div>Arrival</div>
          <div>Cost</div>
          <div>Trips</div>
        </div>

        <!-- body -->
        <ul class=" bg-white divide-y divide-[#EFECE3]">
          <li class="grid grid-cols-7 items-center px-4 py-3 text-center">
              <ul> test </ul>
              <ul> test </ul>
              <ul> test </ul>
              <ul> test </ul>
              <ul> test </ul>
              <ul> test </ul>
              <a  
                  class="bg-blue-500 text-white rounded-lg px-4 py-2 hover:bg-blue-600"
              >
                  View
              </a>
          </li>
          <li class="grid grid-cols-7 items-center px-4 py-3 text-center">
              <ul> test </ul>
              <ul> test </ul>
              <ul> test </ul>
              <ul> test </ul>
              <ul> test </ul>
              <ul> test </ul>
              <a  
                  class="bg-blue-500 text-white rounded-lg px-4 py-2 hover:bg-blue-600"
              >
                  View
              </a>
          </li>
          <li class="grid grid-cols-7 items-center px-4 py-3 text-center">
              <ul> test </ul>
              <ul> test </ul>
              <ul> test </ul>
              <ul> test </ul>
              <ul> test </ul>
              <ul> test </ul>
              <a  
                  class="bg-blue-500 text-white rounded-lg px-4 py-2 hover:bg-blue-600"
              >
                  View
              </a>
          </li>
          <li class="grid grid-cols-7 items-center px-4 py-3 text-center">
              <ul> test </ul>
              <ul> test </ul>
              <ul> test </ul>
              <ul> test </ul>
              <ul> test </ul>
              <ul> test </ul>
              <a  
                  class="bg-blue-500 text-white rounded-lg px-4 py-2 hover:bg-blue-600"
              >
                  View
              </a>
          </li>
          <li class="grid grid-cols-7 items-center px-4 py-3 text-center">
              <ul> test </ul>
              <ul> test </ul>
              <ul> test </ul>
              <ul> test </ul>
              <ul> test </ul>
              <ul> test </ul>
              <a  
                  class="bg-blue-500 text-white rounded-lg px-4 py-2 hover:bg-blue-600"
              >
                  View
              </a>
          </li>
          <li class="grid grid-cols-7 items-center px-4 py-3 text-center">
              <ul> test </ul>
              <ul> test </ul>
              <ul> test </ul>
              <ul> test </ul>
              <ul> test </ul>
              <ul> test </ul>
              <a 
                  class="bg-blue-500 text-white rounded-lg px-4 py-2 hover:bg-blue-600"
              >
                  View
              </a>
          </li>
        </ul>
      </div>
    </div>
{% endblock %}