{% extends 'base.html' %}

{% block title %}
Customer Information
{% endblock %}

{% block content %}
<h1>New Customer Registration</h1>
    
    <form method="POST">
        {% csrf_token %}
        
        <div>
            <label for="givenName">First Name:</label>
            <input type="text" id="givenName" name="givenName" required>
        </div>
        
        <div>
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" required>
        </div>
        
        <div>
            <label for="middleInitial">Middle Initial:</label>
            <input type="text" id="middleInitial" name="middleInitial" maxlength="1">
        </div>
        
        <div>
            <label for="birthDate">Birth Date:</label>
            <input type="date" id="birthDate" name="birthDate" required>
        </div>
        
        <div>
            <label for="gender">Gender:</label>
            <select id="gender" name="gender" required>
                <option value="">Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select>
        </div>
        
        <button type="submit">Create Customer</button>
    </form>
{% endblock %}